

    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/script.js"></script>

<!-- footer -->
<footer class="footer">
    <!-- logo list with items as li -->

     <p id="copyright">Copyright &copy;&nbsp;2021 Prince Duru - Portfolio Site</p>
 </footer>
</body>
</html>