<!--File name: about.ejs
Name: Prince Duru
Student Id: 301167756
Date: 10/28/2021
ExpressPortfolio Site authentication --> 

<% include partials/header.ejs %>

<div class="container">
    <h1>
      <%= title %>
    </h1>
    <!-- About Content -->
    <div class="about container">

        <!-- About Me Image and Information -->
        <div class="about-top">
      
            <div class="about-img"> 
                
                <img src="../../Assets/images/Profile_pic.jpg">
            </div>
            <br>
             <div class="about-text">
                <p>
                    My name is Prince Duru.
                </p>
                <p>
                    I have a bachelors in Chemistry, and I am currently completing an advanced deploma in Software Engineering at Centennial College.
                </p>
                <p>
                    I have held the roles of a Data Analyst and Data Science Analyst in the past which fueled my interest in Artificial Intelligence. This informed my opting for the AI stream of Software Engineering program at Centennial College.
                </p>
                <p>
                    In my current program, I have been exposed to a variety of technologies, including web technology stack which has have given me a broader perspective and a more indept experience in software development.      </p>
            </div>

            <div class="about-pdf">
                <p> 
                    A copy of my resume can be found here...<a href="../../Assets/PRINCE_Machine_Learning_Engineer_Resume.pdf" view target="_blank">Resume</a>
                </p>
    
            </div>        
        </div>
    
    </div>
  
</div>


<% include partials/footer.ejs %>