<!--File name: error.ejs
Name: Prince Duru
Student Id: 301167756
Date: 10/28/2021
ExpressPortfolio Site authentication --> 


<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
