
<% include partials/header.ejs %>

<div class="container">
    
    <!-- Home Content -->
    <div class="home container">
  <!-- Profile picture -->
           
        <div class="home-img"> 
            <img src="../../Assets/images/logo.jpg">
        </div>
        <br>
        <br>
        <p>Welcome to my site. This site lets you know more about me and the services I offer.
        You get to know more about my fun projects as well.
        </p>

        <h2> Mission Statement </h2>
        <p>To solve complex business problems through the use of Statistical Methods, 
        Machine Learning algorithms and other technology tools.</p>
    </div>
 </div>

<% include partials/footer.ejs %>