<!-- File name: services.ejs
Name: Prince Duru
Student Id: 301167756
Date: 10/03/2021
ExpressPortfolio Site--> 
<% include partials/header.ejs %>

<div class="container">
    <h1>
      <%= title %>
    </h1>
    <p> I offer the following services...</p>

<ul>
  <li><h6>Web site design</h6> <img src="../../Assets/images/web_design.jpg"></li> <br>
  <li><h6>Data analytics </h6><img src="../../Assets/images/analytics.jpg"></li> <br>
  <li><h6>Database design and administration </h6>
  <img src="../../Assets/images/database.jpg"></li>
</ul> 
        
  </div>

<% include partials/footer.ejs %>